body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

h1 {
    color: gray;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th,td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;

}
th{
    background-color: whitesmoke;
    color: black;
}
form{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px black;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom:10px 0  5px;
}
input{
    width: 20%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
